body {
    margin: 0px;
    font-family: monospace;
}
.header {
    background-color: black;
    width: 100%;
    margin: 0px;
    border-bottom: 3px blue solid;
}

h1 {
    margin: 0px;
    color: blue;
}

.header .container {
    width: 70%;
    display: flex;
}

.navbar {
    width: 500px;
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: orange;
}